In [23]:
import pandas as pd
import numpy as np
def adder(ele1,ele2):
   return ele1+ele2
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print("printing the results of pipe")
print(df.pipe(adder,2))

       col1      col2      col3
0 -0.584829 -0.392362 -1.014588
1  0.450550  0.435097 -0.120406
2 -0.173166  0.901112  0.461701
3 -0.690692 -0.874892  0.266601
4  1.240630  0.148242  1.225644
printing the results of pipe
       col1      col2      col3
0  1.415171  1.607638  0.985412
1  2.450550  2.435097  1.879594
2  1.826834  2.901112  2.461701
3  1.309308  1.125108  2.266601
4  3.240630  2.148242  3.225644

In [24]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print (df.apply(np.mean))

       col1      col2      col3
0  0.099507  0.550018  0.151857
1  0.579280  0.650028 -0.439959
2  0.561561  2.026554  1.850945
3  0.384205  1.235848 -0.208449
4  0.899139 -0.753353 -1.267451
col1    0.504738
col2    0.741819
col3    0.017389
dtype: float64

In [25]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df,'\n')
print (df.apply(np.mean,axis=1),"\n")
print(df['col1'].map(lambda x:x*100))

       col1      col2      col3
0 -0.857360  1.023878 -0.582792
1  1.840571  0.436736  1.108151
2 -3.099252 -0.085649  0.879149
3 -0.041756  1.079289  1.588452
4 -0.043739  1.174157 -1.335650

0   -0.138758
1    1.128486
2   -0.768584
3    0.875328
4   -0.068410
dtype: float64

0    -85.735959
1    184.057071
2   -309.925203
3     -4.175621
4     -4.373878
Name: col1, dtype: float64

In [26]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

       col1      col2      col3
0 -0.272506  0.808791  1.941526
1  0.286166  0.732448  1.708931
2 -0.118640  0.653310 -0.291535
3  1.021468  0.716603 -0.435317
4  0.133464 -0.652868  0.592407

In [27]:
df=pd.DataFrame({'id':[1,2,3,4,5],'name':['abc','defg','ghs','eeee','wwww']
                 ,'age':[11,22,33,44,55], 'income':[9999,8888,7777,6666,5555]})
print(df)
df['age']=df.apply(lambda x: x['age']+3, axis=1)
print(df)
list(filter(lambda x:x>18, df['age']))

   id  name  age  income
0   1   abc   11    9999
1   2  defg   22    8888
2   3   ghs   33    7777
3   4  eeee   44    6666
4   5  wwww   55    5555
   id  name  age  income
0   1   abc   14    9999
1   2  defg   25    8888
2   3   ghs   36    7777
3   4  eeee   47    6666
4   5  wwww   58    5555

[25, 36, 47, 58]

In [28]:
list(filter(lambda x:x>18, df['age']))

[25, 36, 47, 58]

In [37]:
df['income']=list(map(lambda x: int(x+x*0.2), df['income']))

In [42]:
import functools

functools.reduce(lambda a,b: a+b, df['income'])
df['category']=df['age'].apply(lambda x: 'Adult' if x>=18 else 'Child')
print(df)

   id  name  age  income category
0   1   abc   14   29852    Child
1   2  defg   25   26535    Adult
2   3   ghs   36   23217    Adult
3   4  eeee   47   19900    Adult
4   5  wwww   58   16584    Adult

   id  name  age  income category
0   1   abc   14   29852    Child
1   2  defg   25   26535    Adult
2   3   ghs   36   23217    Adult
3   4  eeee   47   19900    Adult
4   5  wwww   58   16584    Adult